#secionmentors{
    background-color: aqua !important;
}
.display_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: max-content;
    gap: 60px;
}
@media (width <= 1280px) {
    .display_flex{
        width: 90%;
        margin: auto;
        justify-content: center;
    }
}
.section2{
    width: 90%;
    margin: auto;
    text-align: center;
}
.section2-box{
    display: flex;
    justify-content:space-between;
    height: 50%;
    margin: auto;
    flex-wrap: wrap;
    border: 5px solid transparent;
}
.section-elems{
    border: 2.5px solid transparent;
    margin: 20px;
    flex: 1 2 200px;
    text-align: center;
}
.section2 > p{
    text-align: center;
    margin: auto;
}